@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer {
  width: 100%;
  background-color: var(--background);
  padding: 1rem;
  text-align: center;
}

:root {
  max-width: 1280px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --background: #2d3754;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2d3754;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.leaflet-top {
  z-index: 0 !important;
}
.leaflet-pane {
  z-index: 0 !important;
}
.leaflet-bottom {
  z-index: 0 !important;
}
